<%= form_tag({ controller: "pages", action: "age_post" }, class: "page-four") do %>
    <div class="conversation">
      Yum! Let's hear some more about the <%= @survey_response.food_description %>.
    </div>

    <h2>How old is your food?</h2>
    <fieldset class="options">
        <div class="option option-1">
            <button type="submit" value="1" name="answer">
              <h3>Four days or greater</h3>
              <p>Food is over 72 hours old</p>
            </button>
        </div>
        <div class="option option-2">
            <button type="submit" value="0" name="answer">
              <h3>Three days or fewer</h3>
              <p>Fewer than 72 hours old</p>
            </button>
        </div>
    </fieldset>
<% end %>
