<h1>Age</h1>

<%= session["survey_response"].to_json %>
<%= form_tag action: "age_post" do %>
    Is it too old?
    <button type="submit" value="1" name="answer">Yes</button>
    <button type="submit" value="0" name="answer">No</button>
<% end %>

