<h1>Danger Zone</h1>

<%= form_tag action: "danger_zone_post" do %>
    Is it in the danger zone?
    <button type="submit" value="1" name="answer">Yes</button>
    <button type="submit" value="0" name="answer">No</button>
<% end %>

