<%= notice %>

<%= form_tag({ controller: "pages", action: "type_post" }, class: "page-one") do %>
    <fieldset>
        <div class="form-group">
            <label for="zip">Zip Code</label>
            <input id="zip" type="text" name="zip" maxlength="5" placeholder="00000" pattern="\d{5}" />
        </div>
        <div class="form-group">
            <label for="description">Please describe your food:</label>
            <input type="text" id="description" name="food_description" value="">
        </div>
    </fieldset>
    <h2>Is this prepared food?</h2>
    <fieldset class="options">
        <div class="option option-1">
            <button type="submit" value="0" name="answer">
              <h3>Not Prepared</h3>
              <ul>
                <li>Fresh produce</li>
                <li>Mislabeled products</li>
                <li>Items with damaged packaging</li>
                <li>Extra or slow moving inventory</li>
              </ul>
              <div class="example">
                  <p>Produce, Dry Packaged, Dairy, etc.</p>
              </div>
            </button>
        </div>
        <div class="option option-2">
            <button type="submit" value="1" name="answer">
              <h3>Prepared/Cooked</h3>
              <ul>
                <li>Commercially prepared food</li>
                <li>Commercially pre-packaged food items</li>
              </ul>
              <div class="example">
                  <p>Lasagna, Sandwiches</p>
              </div>
            </button>
        </div>
    </fieldset>
<% end %>
