<%= form_tag({ controller: "pages", action: "opened_post" }, class: "page-two") do %>

    <div class="conversation">
      Nice! Tell us more about your <%= @survey_response.food_description %>.
    </div>

    <h2>Has it been opened?</h2>
    <fieldset class="options">
        <div class="option option-1">
            <button type="submit" value="1" name="answer">
              <h3>It’s been opened/unsealed</h3>
              <ul>
                <li>The seal on packaging has been broken</li>
                <li>Food has been exposed</li>
              </ul>
            </button>
        </div>
        <div class="option option-2">
            <button type="submit" value="0" name="answer">
              <h3>It's in the package</h3>
              <ul>
                <li>Packaging is securely closed</li>
                <li>Free of punctures</li>
              </ul>
            </button>
        </div>
    </fieldset>
<% end %>

