<h1>Results</h1>

<%= session["survey_response"].to_json %>

<% @results.each do |result| %>

    <li>
      <%= result['name'] %>
      (<%= result.distance_from(@current_location) %> mi)
    </li>

<% end %>
