/* Base Theme CSS */
* {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Variables */
$white: #ffffff;
$grey: grey;

$orange: #bb5533;
$orangeLight: #d48f79;
$green: #999955;
$greenLight: #b3b376;

/* Headings */
h1 {

}
h2 {

}

body, header, footer {
	background-color: $orange;
}
header {
	border-bottom: 2px solid $orangeLight;
}
footer {
	border-top: 2px solid $orangeLight;
}
main {
	background-color: $white;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
header, footer {
	color: $white;
}
header {
	font-size: 20px;
	line-height: 22px;
	font-weight: bold;
}

/* Forms */
label {
	font-weight: bold;
	display: block;
}
input, textarea {
	padding: 3px;
	border: 1px solid $grey;
	border-radius: 5px;
}
input {
	&#zip {
		width: 100px;
	}
}
.form-group {
	margin-bottom: 15px;
}
fieldset {
	&.options {
		width: 100%;
		> .option {
			float: left;
			width: 48%;
		}
		> .option-1 {
			margin-right: 4%;
		}
		button {
			margin: 0 0 20px 0;
			width: 100%;
			min-height: 50px;
			border-radius: 10px;
			border: 1px solid grey;
			background-color: $green;
			color: $white;
			font-weight: bold;
			-webkit-box-shadow: 0 5px 10px 0 $grey;
			box-shadow: 0 5px 10px 0 $grey;
			&:hover, &:active {
				background-color: $greenLight;
			}
		}
		.example {
			border: 1px solid $grey;
			background-color: #ffdd11;
		}
	}
}