/* Base Theme CSS */
* {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Variables */
$white: #ffffff;
$black: #000000;
$grey: grey;
$greyLight: #bbbbbb;

$blue: #4d81a2;
$blueLight: #d48f79;
$greenDark: #7d7d39;
$green: #b1d5aa;
$greenLight: #F8F8F8;

/* Headings */
h1 {

}
h2 {

}

a {
color: #d48f79;	
text-decoration: none;
}

body, header, footer {
	background-color: $blue;
}
header {
}

footer {

}
main {
	background-color: $white;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
header, footer {
	color: $white;
}
header {
	font-size: 20px;
	line-height: 22px;
	font-weight: bold;
}

/* Forms */
label {
	font-weight: bold;
	display: block;
}
input, textarea {
	padding: 3px;
	border: 1px solid $grey;
	border-radius: 5px;
}
input {
	&#zip {
		width: 100px;
	}
}
.form-group {
	margin-bottom: 15px;
}
fieldset {
	&.options {
		width: 100%;
		> .option {
			float: left;
			width: 48%;
		}
		> .option-1 {
			margin-right: 4%;
		}
        button {
            width: 100%;
            -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
            box-shadow:inset 0px 1px 0px 0px #ffffff;
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff), color-stop(1, #e7e7e7) );
            background:-moz-linear-gradient( center top, #fff 5%, #e7e7e7 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e7e7e7');
            background-color:#ededed;
            -webkit-border-top-left-radius:40px;
            -moz-border-radius-topleft:40px;
            border-top-left-radius:40px;
            -webkit-border-top-right-radius:40px;
            -moz-border-radius-topright:40px;
            border-top-right-radius:40px;
            -webkit-border-bottom-right-radius:40px;
            -moz-border-radius-bottomright:40px;
            border-bottom-right-radius:40px;
            -webkit-border-bottom-left-radius:40px;
            -moz-border-radius-bottomleft:40px;
            border-bottom-left-radius:40px;
            text-indent:0;
            border:1px solid #dcdcdc;
            display:inline-block;
            color: #666;
            font-family:Arial;
            font-size:15px;
            font-weight:bold;
            font-style:normal;
            text-decoration:none;
            text-align:center;
            text-shadow:1px 1px 0px #ffffff;
            padding: 20px;
			ul {
				text-align: left;
				margin: 10px 0;
				padding: 0 0 0 20px;
			}
			h3 {
				font-size: 24px;
				line-height: 26px;
				margin: 10px 0;
			}
        }
        button:hover {
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, lighten($green, 20%)), color-stop(1, $green) );
            background:-moz-linear-gradient( center top, lighten($green, 20%) 5%, $green 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten($green, 20%)', endColorstr='$green');
            background-color:$green;
        }
        button:active {
            position:relative;
            top:1px;
        }
		.example {
			border: 1px solid $grey;
			background-color: #b7c6cc;
            border-radius: 15px;
            text-shadow: none;
            padding: 5px 15px;
		}
	}
}
.results, .results-message {
	text-align: left;
}
.results {
	.icon {
		margin: 0 10px 0 0;
		img {
			width: 85px;
			height: auto;
		}
	}
	.result {
		clear: left;
		margin-bottom: 15px;
		min-height: 85px;
		padding-right: 8px;
		border-right: 3px solid $greyLight;
		&:hover {
			border-right-color: $blue;
		}
	}
	h3 {
		font-size: 24px;
		line-height: 26px;
		padding-bottom: 5px;
		border-bottom: 3px solid $blue;
	}
	.distance {
		font-size: 35px;
	}
	.name {
		font-weight: bold;
	}
}

/* Utility */
.clearfix {
	clear: both;
}
