/* Base Theme CSS */
* {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Variables */
$white: #ffffff;
$black: #000000;
$grey: grey;
$greyLight: #bbbbbb;

$orange: #4d81a2;
$orangeLight: #d48f79;
$greenDark: #7d7d39;
$green: #F8F8F8;
$greenLight: #F8F8F8;

/* Headings */
h1 {

}
h2 {

}

a {
color: #d48f79;	
text-decoration: none;
}

body, header, footer {
	background-color: $orange;
}
header {
}

footer {
	border-top: 2px solid $orangeLight;
}
main {
	background-color: $white;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
header, footer {
	color: $white;
}
header {
	font-size: 20px;
	line-height: 22px;
	font-weight: bold;
}

/* Forms */
label {
	font-weight: bold;
	display: block;
}
input, textarea {
	padding: 3px;
	border: 1px solid $grey;
	border-radius: 5px;
}
input {
	&#zip {
		width: 100px;
	}
}
.form-group {
	margin-bottom: 15px;
}
fieldset {
	&.options {
		width: 100%;
		> .option {
			float: left;
			width: 48%;
		}
		> .option-1 {
			margin-right: 4%;
		}
		button {
			margin: 0 0 20px 0;
			width: 100%;
			min-height: 50px;

			background-color: $greenLight;
			color: $black;
			font-weight: bold;
			padding: 6px;
			&:hover, &:active {
				background-color: $green;
			}
			&:focus {
				outline: none;
				border-color: $orange;
			}
			ul {
				text-align: left;
				margin: 10px 0;
				padding: 0 0 0 20px;
			}
			h3 {
				font-size: 24px;
				line-height: 26px;
				margin: 10px 0;
			}
		}
		.example {
			border: 1px solid $grey;
			background-color: #ffdd11;
			border-radius: 0 0 6px 6px;
		}
	}
}
.results, .results-message {
	text-align: left;
}
.results {
	.icon {
		margin: 0 10px 0 0;
		img {
			width: 85px;
			height: auto;
		}
	}
	.result {
		clear: left;
		margin-bottom: 15px;
		min-height: 85px;
		padding-right: 8px;
		border-right: 3px solid $greyLight;
		&:hover {
			border-right-color: $blue;
		}
	}
	h3 {
		font-size: 24px;
		line-height: 26px;
		padding-bottom: 5px;
		border-bottom: 3px solid $orange;
	}
	.distance {
		font-size: 35px;
	}
	.name {
		font-weight: bold;
	}
}

/* Utility */
.clearfix {
	clear: both;
}